@font-face {
    font-family: Monoid;
    src: url('Monoid-Regular-Tight-Large-Dollar-l.ttf');

}

body {
    background: #000;
}

textarea {
    background: transparent;
    color: #fff;
    display: block;
    font-family: Monoid;
    line-height: 1.5em;
    padding: 10px;
    white-space: pre-wrap;
}

/** Include terminal words down here:
hello
*/

term-hello {
    color: #FF64AD;
}